<html>
<head>
	<script type="text/javascript" src="/js/jquery-1.11.1.js"></script>	
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src='/js/bootstrap.min.js'></script>
	<script type="text/javascript" src='/js/externalHandler.js'></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/cascading.css">
</head>
<body>
<button class="popper" data-toggle="popover">Travels</button>	
<div class="popper-content hide">
	<div class="container">
		<table class="table seats">
			<tr class="row_1">
				<td class='seat_1' id='0'></td>
				<td class='seat_2' id='1'></td>
				<td class='seat_3' id='2'></td>
			</tr>
			<tr class="row_2">
				<td class='seat_4' id='3'></td>
				<td class='seat_5' id='4'></td>
				<td class='seat_6' id='5'></td>
			</tr>
		</table>
		<table class="table seats">
			<tr class="row_3">
				<td class='seat_7' id='6'></td>
				<td class='seat_8' id='7'></td>
				<td class='seat_9' id='8'></td>
			</tr>
		</table>
	</div>
	<input type="submit" value="continue" class="booking">
</div>
</body>
</html>
